 <header class="header">
            <div class="wrapper">
                <!-- 导航 -->
                <nav>
                    <a href="./index.html">Home</a>
                    <a href="./about.html">关于我们</a>
                    <a href="./join.html">传智招聘</a>
                </nav>
                <!-- 注册/登录 -->
                <div class="extra">
                    <a href="./register.html">注册</a>
                    <a href="./login.html">登录</a>
                </div>
            </div>
        </header>